<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
<table>
  {% for row in data %}
    <tr>
      {% for cell in row %}
        <td>{{ cell }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
<form method="post">
  {% csrf_token %}
       <label for="Email address">Email address:</label>
       <input type="text" name="email" placeholder="Email address">
       <br>
       <button type="submit">Send CSV</button>
</form>
</pre>
</body>
</html>
