<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form method="post">
  {% csrf_token %}
  <label for="account">Account:</label>
  <input type="text" name="account" placeholder="Enter Account">
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Enter Password">
  <br>
  <button type="submit">Submit</button>
</form>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
</body>
</html>